*{
    user-select: none;
}
body{
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav section aside"
        "footer footer footer";
    grid-template-rows: 100px 1fr 40px;
    grid-template-columns: 25% 1fr 25%;
    grid-gap: 5px;
    margin: 10px;
    padding: 0;
    height: 100vh;
    background: #30323D;
}
/* Grid Formatting */
header{
    grid-area: header;
    font-size: 50px;
    background-color: #608068;
    text-align: center;
    
   
}
nav{
    grid-area: nav;
    background-color: #E8C547;
    flex-direction: column;
}

section{
    grid-area: section;
    background-color: #5C80BC;
    position: relative;
}

aside{
    grid-area: aside;
    background-color: #DB3A34;
}

footer{
    grid-area: footer;
    background-color: #86698c;
}
/* ############################## */


/* Main Chess Board */
.chess-board{
    height: 520px;
    width: 520px;
    display: flex;
    border: 6px solid black;
    margin: 0 auto;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
}
.square-grid {
    width: 65px;
    height: 65px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    top: 10%;
    
}
.square{
    padding-top: 5%;
    width: 60px;
    height: 60px;
}
.square-grid.white-Box {
    background: white;
}
.square-grid.black-Box{
    background: gray;
}

button img{
    top: 8px;
}
/* ############################## */


/* Player Turn styling */

.playerturn{
    grid-area: nav;
    width: 200px;
    height: 50px;
    display: inline-block;
    background-color: azure;
    
    
}
#white{
    width: 60px;
    height: 20px;
    padding: 10px;
    display: inline-block;
    font-size: 100%;
}
#black{
    width: 60px;
    height: 20px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}
/* ############################## */



/* Timer styling */

.timer{
    height: 100px;
    width: 200px;
    background-color: antiquewhite;

}
#display{
    width: 100%;
    font-size: 48px;
    text-align: center;
    margin: 0px auto;
}
 #start{
    text-align: center;
    position: fixed; left: 20px;
}
 
.timer.time-buttons{
    position: fixed; left: 20px;
}
/* ############################## */


/* Scaling */
/*
[style*="--aspect-ratio"] > :first-child{
    width: 100%;
}

[style*="--aspect-ratio"] > img {
    height: auto;
}

@supports (--custom:property) {
    [style*="--aspect-ratio"]{
        position: relative;
    }
    [style*="--aspect-ratio"]::before{
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    [style*="--aspect-ratio"] > :first-child{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}
*/
/* ############################## */

