*{
    user-select: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: cadetblue;
}
.chess-board{
    height: 400px;
    width: 400px;
    display: flex;
    border: 4px solid black;
    position: fixed; left: 900px; top: center;
}

.square-grid {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.square{
    width: 45px;
    height: 45px;
}
.square-grid.white-Box {
    background: white;
}
.square-grid.black-Box{
    background: gray;
}

/* Player Turn styling */

.playerturn{
    width: 200px;
    height: 50px;
    background-color: azure;
    
}
#black{

}


/* Timer styling */

.timer{
    height: 100px;
    width: 200px;
    background-color: antiquewhite;

}
#display{
    width: 100%;
    font-size: 48px;
    text-align: center;
    margin: 0px auto;
}
 #start{
     text-align: center;
     position: fixed; left: 20px;
 }
 
 .timer.time-buttons{
     position: fixed; left: 20px;
 }